<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ogrenci_takip_sistemi.Properties.Settings.ogrenci_takipConnectionString"
            connectionString="Data Source=DESKTOP-38ER4CK\SQLEXPRESS;Initial Catalog=ogrenci_takip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>